<div class="container">
    <h1 class="text-center">{{foto.titulo}}</h1>

    <p *ngIf="mensagem.length" class="alert alert-info"> {{ mensagem }} </p>

    <!-- Criando um evento one-way-data-binding para 'formGroup' 
    de 'meuForm' vindo de 'cadastro.component.ts' -->
    <form [formGroup]="meuForm" (submit)="cadastrar($event)" class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Título</label>
                <!-- [(ngModel)] - insere ao atributo 'foto', os valores de entrada de cada input do form -->
                <!-- formControlName - faz a validacao do atributo que é declarado em 'cadastro.component' -->
                <input 
                    formControlName="titulo" 
                    name="titulo" 
                    [(ngModel)]="foto.titulo" 
                    class="form-control" 
                    autocomplete="off"> 
                <!-- '*ngIf' -> verifica se o component 'meuForm' conseguiu validar titulo -->
                <div *ngIf="meuForm.controls.titulo.invalid">
                    <span *ngIf="meuForm.controls.titulo.errors.required" class="form-control alert-danger">
                        Título obrigatório
                    </span>
                    <span *ngIf="meuForm.controls.titulo.errors.minlength" class="form-control alert-danger">
                        Deve ter no mínimo 4 caracteres
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label>URL</label>
                <input 
                    formControlName="url"
                    name="url" 
                    [(ngModel)]="foto.url" 
                    class="form-control" 
                    autocomplete="off">
                <!-- '*ngIf' -> verifica se o component 'meuForm' conseguiu validar url -->
                <span *ngIf="meuForm.controls.url.invalid" class="form-control alert-danger">
                    URL obrigatória
                </span>
            </div>
            <div class="form-group">
                <label>Descrição</label>
                <textarea 
                    formControlName="descricao"
                    name="descricao" 
                    [(ngModel)]="foto.descricao" 
                    class="form-control" 
                    autocomplete="off">
                </textarea>
            </div>

            <botao nome="Salvar" estilo="btn-primary" tipo="submit" [desabilitado]="meuForm.invalid"></botao>

            <!-- [disabled] modelo de leitura do Angular do modelo pra view -->
            <!-- <button type="submit" class="btn btn-primary" [disabled]="meuForm.invalid">
                Salvar
            </button> -->
             <a [routerLink]="['']" class="btn btn-primary">Voltar</a>
            <hr>
        </div>
        <div class="col-md-6">
            <!-- Tag usada mostrar na tela a foto que esta sendo cadastrada -->
            <!-- {{foto.url}} tambem representa um modo de leitura do modelo para a view em Angular -->
            <foto [url]="foto.url" titulo="{{foto.titulo}}"></foto>
        </div>
    </form>
</div>