<div class="jumbotron">
    <h1 class="text-center">Alurapic</h1>
</div>
<div class="container">

    <p *ngIf="mensagem.length" class="alert alert-info">{{ mensagem }}</p>

    <div class="row">
        <div class="col-md-12">
            <form>
                 <div class="input-group">
                    <span class="input-group-btn">
                         
                        <a [routerLink]="['/cadastro']" class="btn btn-primary">
                            Novo foto
                        </a>
                    </span>
                    <!-- '#textoProcurado' - declaração de uma variavel local que guarda o valor digitado no campo -->
                    <input class="form-control" #textoProcurado (keyup)="0" placeholder="filtrar pelo título da foto">
                </div> 
            </form>
        </div> <!-- fim col-md-12 -->
    </div> <!-- fim row -->
    <br>

    <div class="row">
        <!-- carregado de 'fotos' -->
        <!-- '#painel' - representa todo o componente 'painel', que será usado para passar como referencia a funcao 'remove()' -->
        <painel #painel *ngFor="let foto of fotos | filtroPorTitulo: textoProcurado.value" titulo="{{foto.titulo | uppercase}}"  class="col-md-2">
            
            <a [routerLink]="['/cadastro', foto._id]">
                <foto titulo="{{foto.titulo}}" url="{{foto.url}}"></foto>
            </a>
            
            <botao nome="Remover" estilo="btn-danger btn-block" (acao)="remove(foto, painel)" confirmacao="true"></botao>

            <!-- <button class="btn btn-danger btn-block" (click)="remove(foto)">Remover</button> -->
        </painel>
    </div><!-- fim row -->
</div>