<div class="panel panel-default efeito">
    <div class="panel-heading">
        <h3 class="panel-title text-center">{{titulo}}</h3>
    </div>
    <div class="panel-body">
        <!-- indica que o conteúdo gerado no 'ngfor' em 'app.component.html' devera ser exibido aqui -->
        <ng-content></ng-content>       
    </div>
</div>